*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*NAVBAR*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #1F2B5B; 
    padding: 10px 20px;
    height: 90px; 
    color: white;
}

.navbar-brand {
    margin-left: 20px; 
}

.logo {
    margin-left: 15%;
    width: 33%; 
    height: auto; 
}

/*BARRA DE PESQUISA*/

.search-container {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}

.search-input {
    height: 40px;
    width: 280px; 
    padding: 8px;
    border: none;
    border-radius: 20px; 
    outline: none;
    margin-right: 10px;
}

.search-button {
    padding: 8px 12px;
    background-color: #1a1a2e;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #243f8a; 
}

/*TERMINA BARRA DE PESQUISA*/
/*TERMINA A NAVBAR*/

.container-um {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 20px;
}

.jumbotron-um {
    width: 40%;
    background-color: #f8f9fa; 
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 10%; /* Espaçamento à direita do jumbotron */
}

.jumbotron-um h1 {
    margin-bottom: 10px; 
}

.image-container {
    flex: 0 0 50%; 
    text-align: center;
}

.image-container img {
    max-width: 40%; 
    height: auto; 
    border-radius: 8px;
}

/*COMEÇA O CADASTRO*/



.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-row {
    display: flex; /* Usando flexbox para a linha */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte */
    margin-bottom: 15px; /* Espaçamento entre as linhas */
}

.form-col {
    flex: 1 0 30%; /* Faz a coluna ocupar aproximadamente 30% da largura */
    margin-right: 10px; /* Margem à direita para espaçamento */
}

/* Remove a margem à direita na última coluna */
.form-col:last-child {
    margin-right: 0;
}

/* Estilo do campo de entrada */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    transition: border-color 0.3s;
}

label {
    display: flex; /* Permite alinhar ícone e texto */
    align-items: center; /* Alinha verticalmente */
}

label i {
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
    color: #1F2B5B;
}

/* Estilo quando o campo de entrada está focado */
.form-control:focus {
    border-color: #007bff;
    outline: none;
}

.button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    width: 50%;
    margin-left: 25%;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px; 
    font-size: 20px;
}

button:hover,
button[type="submit"]:hover {
    opacity: 0.8; 
    background-color: #384081;
}
