
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*NAVBAR*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #1F2B5B; 
    padding: 10px 20px;
    height: 90px; 
    color: white;
}

.navbar-brand {
    margin-left: 20px; 
}

.logo {
    margin-left: 15%;
    width: 33%; 
    height: auto; 
}

/*BARRA DE PESQUISA*/

.search-container {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}

.search-input {
    height: 40px;
    width: 280px; 
    padding: 8px;
    border: none;
    border-radius: 20px; 
    outline: none;
    margin-right: 10px;
}

.search-button {
    padding: 8px 12px;
    background-color: #1a1a2e;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #243f8a; 
}

/*TERMINA BARRA DE PESQUISA*/
/*TERMINA A NAVBAR*/

.container-um {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 20px;
}

.jumbotron-um {
    width: 40%;
    background-color: #f8f9fa; 
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 10%; /* Espaçamento à direita do jumbotron */
}

.jumbotron-um h1 {
    margin-bottom: 10px; 
}

.image-container {
    flex: 0 0 50%; 
    text-align: center;
}

.image-container img {
    max-width: 30%; 
    height: auto; 
    border-radius: 8px;
}

/*COMEÇA O CADASTRO*/

.container {
    max-width: 1000px;
    margin: 20px auto; 
    padding: 30px; 
    background-color: #fcfcfc;
    border-radius: 8px;
    border: 1px solid #192351; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.form-container {
    margin-top: 10px;
}

.form-row {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 12px;
}

.form-col {
    flex: 1; 
    margin-right: 10px; 
}

.form-row .form-col:last-child {
    margin-right: 0; 
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-weight: 400;
    color: #000000;
}

label i {
    margin-right: 8px; 
    color: #192351;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    color: white;
    padding: 10px 15px;
    border: none;
    width: 50%;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px; 
}

.salvar{
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    width: 80%;
    margin-left: 10%;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px; 
    font-size: 20px;
}

button:hover,
button[type="submit"]:hover {
    opacity: 0.8; 
    background-color: #384081;
}

.form-check {
    display: inline-block; /* Para permitir que fiquem lado a lado */
    margin-left: 5%;
}

#composicaoMedicamento {
    background-color: #ffffff;
    border: 1px solid #ccc; 
    padding: 5px; 
    font-size: 14px;
    width: 100%; /* Largura */
    height: 36px;
    resize: vertical;
}

/* Cor e borda quando o campo estiver em foco */
#composicaoMedicamento:focus {
    border-color: #596066; 
    outline: none; 
    background-color: #fff;
}

/* CSS PARA O ALERTA */
.alert {
    border-radius: 8px;
    padding: 15px 20px;
    font-size: 16px;
    margin: 20px auto; 
    width: 70%; 
    max-width: 600px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para mensagens de erro */
.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    font-weight: bold;
    border: 1px solid #f5c6cb;
}

.alert-danger ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.alert-danger li {
    margin-bottom: 5px;
}

/* Estilo para mensagens de sucesso */
.alert-success {
    background-color: #d4edda; /* Cor de fundo suave para sucesso */
    color: #155724; /* Cor do texto */
    border: 1px solid #c3e6cb; /* Borda suave verde */
}

/* Efeito de hover para melhorar a interação */
.alert:hover {
    opacity: 0.9; /* Leve efeito de transparência ao passar o mouse */
}

/* Ajuste para uma versão mais compacta */
.alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Adicionar um botão de fechar dentro da mensagem */
.alert .close-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: inherit;
    cursor: pointer;
}

.alert .close-btn:hover {
    color: #333; /* Cor de hover para o botão de fechar */
}