
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*NAVBAR*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #1F2B5B; 
    padding: 10px 20px;
    height: 90px; 
    color: white;
}

.navbar-brand {
    margin-left: 20px; 
}

.logo {
    margin-left: 15%;
    width: 33%; 
    height: auto; 
}

/*BARRA DE PESQUISA*/

.search-container {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}

.search-input {
    height: 40px;
    width: 280px; 
    padding: 8px;
    border: none;
    border-radius: 40px; 
    outline: none;
    margin-right: 10px;
}

.search-button {
    padding: 8px 12px;
    background-color: #1a1a2e;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #243f8a; 
}

/*TERMINA BARRA DE PESQUISA*/
/*TERMINA A NAVBAR*/

.container-um {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 20px;
    margin-top: 6%;
}

.jumbotron-um {
    width: 40%;
    background-color: #f8f9fa; 
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 30%; /* Espaçamento à direita do jumbotron */
}

.jumbotron-um h1 {
    margin-bottom: 10px; 
}


/* Estilo geral do formulário */

.formulario {

    max-width: 500px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #f0f0f0; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.input-container {
    margin-bottom: 20px; 
}

label {
    font-weight: 600; 
    margin-bottom: 5px;
    display: flex;
    align-items: center; 
}


.icon {
    margin-right: 8px; 
    color: #1F2B5B;
}

#regiao, 
#situacao,
#telefone,
#tipoMedicamento,
#formaMedicamento,
#nomeFamaciaUBS,
#emailFamaciaUBS,
#senhaFamaciaUBS,
#tipoFamaciaUBS,
#nomeDetentor,
#cnpjDetentor,
#emailDetentor,
#logradouroDetentor,
#bairroDetentor,
#estadoDetentor,
#cidadeDetentor,
#numeroDetentor,
#ufDetentor,
#cepDetentor,
#complementoDetentor,
#situacaoDetentor{
    width: 100%; 
    padding: 12px; 
    margin-bottom: 20px; 
    border: 2px solid #1F2B5B;
    border-radius: 8px; 
    font-size: 16px; 
    transition: border-color 0.3s ease; 
}

#regiao:focus, 
#situacao:focus,
#telefone:focus,
#tipoMedicamento:focus,
#formaMedicamento:focus,
#nomeFamaciaUBS:focus,
#emailFamaciaUBS:focus,
#senhaFamaciaUBS:focus,
#tipoFamaciaUBS:focus,
#nomeDetentor:focus,
#cnpjDetentor:focus,
#emailDetentor:focus,
#logradouroDetentor:focus,
#bairroDetentor:focus,
#estadoDetentor:focus,
#cidadeDetentor:focus,
#numeroDetentor:focus,
#ufDetentor:focus,
#cepDetentor:focus,
#complementoDetentor:focus,
#situacaoDetentor:focus {
    border-color: #1F2B5B;
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.botaozinho {
    background-color: #1F2B5B; 
    color: white; 
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
}

.botaozinho:hover {
    background-color: #4390CC ;
    transform: translateY(-2px); 
}

.botaozinho:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}


.btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin-left: 40%;
    margin-bottom: 2%;
}

.btn i {
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

.btn-secondary {
    background-color: #1F2B5B;
    color: white;
    border: none;
}

.btn-secondary:hover {
    background-color: #6274be;
}