*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*NAVBAR*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinha logo e pesquisa em extremos opostos */
    background-color: #1F2B5B; 
    padding: 10px 20px;
    height: 90px; 
    color: white;
}

.navbar-brand {
    margin-left: 20px; /* Margem à esquerda da logo */
}

.logo {
    margin-left: 15%;
    width: 33%; 
    height: auto; 
}

/*BARRA DE PESQUISA*/

.search-container {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}

.search-input {
    height: 40px;
    width: 280px; 
    padding: 8px;
    border: none;
    border-radius: 20px; 
    outline: none;
    margin-right: 10px;
}

.search-button {
    padding: 8px 12px;
    background-color: #1a1a2e;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #243f8a; 
}

/*TERMINA BARRA DE PESQUISA*/
/*TERMINA A NAVBAR*/

.container-um {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 20px;
}

.jumbotron-um {
    width: 40%;
    background-color: #f8f9fa; 
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 10%; /* Espaçamento à direita do jumbotron */
}

.jumbotron-um h1 {
    margin-bottom: 10px; 
}

.image-container {
    flex: 0 0 50%; 
    text-align: center;
}

.image-container img {
    max-width: 40%; 
    height: auto; 
    border-radius: 8px;
}

/*COMEÇA O CADASTRO*/

/* COMEÇA A TABELA*/

.table {
    width: 85%;
    height: 85%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 10%;
}

.table thead th {
    background-color: #1F2B5B;
    color: #ffffff;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

.table tbody tr {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #e0e0e0;
}

.table td {
    padding: 12px;
    border-bottom: 1px solid #dddddd;
    color: #272727;
}

/* Estilos de pesquisa */

.search-container2 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

.search-input2 {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button2 {
    background-color: #007bff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.search-button2 i {
    font-size: 16px;
    color: #ffffff;
}

/* Wrapper para alinhar os ícones na mesma linha */
.action-icons {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre os ícones */
}

.icon-action {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
    cursor: pointer;
}

.icon-action .fa-edit {
    color: #1F2B5B;
}

.icon-action .fa-eye {
    color: #1F2B5B;
}

.icon-action .fa-trash {
    color: #dc3545;
}

.icon-action:hover {
    color: #000;
}

/* Remover estilo do botão na tag form */
.delete-form button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}
