
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*NAVBAR*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #1F2B5B; 
    padding: 10px 20px;
    height: 90px; 
    color: white;
}

.navbar-brand {
    margin-left: 20px; 
}

.logo {
    margin-left: 15%;
    width: 33%; 
    height: auto; 
}

/*BARRA DE PESQUISA*/

.search-container {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}

.search-input {
    height: 40px;
    width: 280px; 
    padding: 8px;
    border: none;
    border-radius: 20px; 
    outline: none;
    margin-right: 10px;
}

.search-button {
    padding: 8px 12px;
    background-color: #1a1a2e;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #243f8a; 
}

/*TERMINA BARRA DE PESQUISA*/
/*TERMINA A NAVBAR*/

.container-um {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 20px;
}

.jumbotron-um {
    width: 40%;
    background-color: #f8f9fa; 
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 10%; /* Espaçamento à direita do jumbotron */
}

.jumbotron-um h1 {
    margin-bottom: 10px; 
}

.image-container {
    flex: 0 0 50%; 
    text-align: center;
}

.image-container img {
    max-width: 30%; 
    height: auto; 
    border-radius: 8px;
}

/*COMEÇA O CADASTRO*/









